body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.dim {
  backdrop-filter: brightness(40%);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  margin-left: 1.5vw;
  margin-top: 2vw;
}

#background {
  background-image: url(assets/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}
header {
  position: relative;
  top: 0;
  height: 65px;
  background: rgb(255, 223, 226);
  background: linear-gradient(180deg, rgba(255, 223, 226, 1) 0%, rgba(245, 208, 244, 1) 100%);
}

#cmdb-logo {
  position: absolute;
  width: 200px;
  top: 5px;
  left: 20px;
}

nav {
  position: absolute;
  left: 60vw;
}
#navbar li {
  list-style-type: none;

  display: inline;
  font-size: 20px;
  font-weight: 700;
  margin-right: 50px;
}

#navbar a {
  text-decoration: none;
  color: black;
}

#navbar a:hover {
  text-decoration: none;
  color: rgb(73, 73, 73);
}

.search-container {
  position: absolute;
  background: #fff;
  height: 30px;
  min-width: 100px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  left: 250px;
  top: 8px;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.search-container:hover > .search-input {
  width: 400px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 80px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s;
}

.search-container .search-btn .fas {
  color: rgb(130, 72, 128);
}

.list-entry {
  width: 17vw;
  height: 35vw;
  border: 30px;
  border: 3px solid rgba(255, 255, 255, 0.072);
  border-radius: 4%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  margin-bottom: 4vw;
  padding: 2vw 1vw 0vw 1vw;
  cursor: pointer;
  text-align: center;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
}

.list-entry:hover {
  -webkit-box-shadow: 0px 0px 60px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 60px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 60px -17px rgba(0, 0, 0, 0.75);
  z-index: 5;
  transform: scale(105%);
  background: rgb(255, 255, 255);
  background: linear-gradient(42deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8239670868347339) 100%);
}
.list-entry img {
  width: 70%;

  border: 3px solid #131414;
}
.list-entry h2 {
  width: 90%;
  padding-left: 5%;
}

button {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid;
  padding: 10px;
  border-color: #0a0a0a;
  border-radius: 20px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.637);
  backdrop-filter: blur(5px);
  border: 1px solid;
  padding: 10px;
  border-color: #0a0a0a;
  border-radius: 20px;
  cursor: pointer;
}

dialog {
  color: #000000;
  font-size: 1vw;
  border: 3px solid rgba(255, 255, 255, 0.072);
  border-radius: 4%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 0.89);
  -moz-box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 0.89);
  box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 0.89);
  position: relative;
  width: 40vw;
  height: 40vw;
  overflow: hidden;
}

dialog img {
  width: 50%;
}
