/* ========== BODY ========== */

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

/* ========== BACKGROUND & BACKGROUND EFFECTS ========== */

#background {
  background-image: url(assets/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
  position: fixed;
}

.dim {
  filter: brightness(30%);
}

/* ========== GRID ========== */

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  margin-left: 2.8vw;
  margin-top: 100px;
}

/* ========== HEADER ========== */

header {
  position: fixed;
  top: 0;
  height: 65px;
  width: 100vw;
  z-index: 5;
  background: rgb(255, 223, 226);
  background: linear-gradient(180deg, rgba(255, 223, 226, 1) 0%, rgba(245, 208, 244, 1) 100%);
}

/* ========== LOGO ========== */

#cmdb-logo {
  position: absolute;
  width: 170px;
  top: 10px;
  left: 35px;
}

/* ========== DUNNO WHERE TO PUT THIS ========== */

select {
  position: absolute;
  height: 2.2em;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #aaaaaa;
  border-radius: 0.3em;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  font-weight: normal;
  text-shadow: 0 1px 0 rgb(209, 118, 212);
  transition: box-shadow 200ms, border-color 200ms;
  color: rgb(0, 0, 0);
  top: -115%;
}

select option {
  background: rgba(209, 118, 212, 0.5);
}

/* ========== NAV ELEMENTS ========== */

#btn-create-movie {
  position: absolute;
  top: 13px;
  background: #8bc4f2;
  border: none;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  left: 50%;
  transform: translate(-50%);
}

#btn-create-movie:hover {
  position: absolute;
  top: 13px;
  background: #bae0ff;
  border: none;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  left: 50%;
  transform: translate(-50%);
}

nav {
  position: absolute;
  top: 3px;
  left: 60vw;
}

#navbar li {
  list-style-type: none;

  display: inline;
  font-size: 20px;
  font-weight: 700;
  margin-right: 50px;
}

#navbar a {
  text-decoration: none;
  color: black;
}

#navbar a:hover {
  text-decoration: none;
  color: rgb(73, 73, 73);
}

/* ========== SEARCH BAR ========== */

.search-container {
  position: absolute;
  background: #fff;
  height: 30px;
  min-width: 100px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  left: 250px;
  top: 8px;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.search-container:hover > .search-input {
  width: 250px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 80px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.5s;
}

.search-container .search-btn .fas {
  color: rgb(130, 72, 128);
}

#select-sort-by {
  margin-top: 80px;
}

/* ========== FILM KORT ========== */

.list-entry {
  width: 17vw;
  height: 38vw;
  border: 30px;
  border: 3px solid rgba(255, 255, 255, 0.072);
  border-radius: 4%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  margin-bottom: 4vw;
  padding: 2vw 1vw 0vw 1vw;
  cursor: pointer;
  text-align: center;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
}

.list-entry:hover {
  -webkit-box-shadow: 0px 0px 60px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 60px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 60px -17px rgba(0, 0, 0, 0.75);
  z-index: 4;
  transform: scale(105%);
  background: rgb(255, 255, 255);
  background: linear-gradient(42deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8239670868347339) 100%);
}

.list-entry img {
  width: 70%;
  border: 3px solid rgba(112, 112, 112, 0.072);
}

.list-entry h2 {
  width: 90%;
  padding-left: 5%;
}

/* ========== BUTTONS ========== */

button {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid;
  padding: 10px;
  border-color: #0a0a0a;
  border-radius: 20px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.637);
  backdrop-filter: blur(5px);
  border: 1px solid;
  padding: 10px;
  border-color: #0a0a0a;
  border-radius: 20px;
  cursor: pointer;
}

/* ========== DIALOG ========== */

dialog {
  color: #000000;
  font-size: 1vw;
  border: 3px solid rgba(255, 255, 255, 0.072);
  border-radius: 4%;
  background-color: rgba(255, 255, 255, 0.685);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 0.89);
  -moz-box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 0.89);
  box-shadow: 0px 0px 76px -1px rgba(0, 0, 0, 0.89);
  position: relative;
  width: 40vw;
  height: 40vw;
}

dialog img {
  width: 70%;
  margin-left: 20%;
  margin-top: 20%;
  border: 3px solid rgba(112, 112, 112, 0.072);
}

#btn-close {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#dialog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
input:invalid {
  border: 2px solid rgb(255, 121, 121);
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
@media only screen and (max-width: 1430px) {
  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    margin-left: 10vw;
  }

  .list-entry {
    width: 20vw;
    height: 42vw;
    border: 30px;
    border: 3px solid rgba(255, 255, 255, 0.072);
    border-radius: 4%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    margin-bottom: 4vw;
    padding: 2vw 1vw 0vw 1vw;
    cursor: pointer;
    text-align: center;
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
  }
}

@media only screen and (max-width: 900px) {
  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    margin-left: 15vw;
  }
  .list-entry {
    width: 30vw;
    height: 70vw;
    border: 30px;
    border: 3px solid rgba(255, 255, 255, 0.072);
    border-radius: 4%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    margin-bottom: 4vw;
    padding: 2vw 1vw 0vw 1vw;
    cursor: pointer;
    text-align: center;
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
  }
}

@media only screen and (max-width: 550px) {
  #grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    margin-left: 20vw;
  }

  .list-entry {
    width: 70vw;
    height: 150vw;
    border: 30px;
    border: 3px solid rgba(255, 255, 255, 0.072);
    border-radius: 4%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    margin-bottom: 4vw;
    padding: 10vw 1vw 2vw 1vw;
    cursor: pointer;
    text-align: center;
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.41);
  }
}
